.fpButton {
    margin: 10px!important;
    background-color: #945200!important;
    color: #fff !important;
    float: none!important;
}

p.tagline {
    text-align: center;
    font-size: 1.8vw;
}

.center {
    text-align: center;
}
